.hero {
  position: relative;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overSec {
  position: absolute;
  display: flex;
  flex-direction: column;
  @apply container justify-center;
}

@media screen and (min-width: 768px) {
  .hero {
    height: 850px;
  }

  .overSec {
    flex-direction: row;
  }
}
